% -*- erlang -*-
[
{sasl, [
        {sasl_error_logger, {file, "/var/log/aws-1k.log"}}
]},
{wsdemo_bench, [
                {host, "54.229.54.60"},
                {port, 8000},
                {seconds, 60},
                {clients, 1000},
%                {servers, []},
		        {supervisord, {"54.229.54.60", 9001}},
                {db_root, "data/aws-1k"}
               ]}
].

