% -*- erlang -*-
[
{sasl, [
        {sasl_error_logger, {file, "/var/log/aws-1c.log"}}
]},
{wsdemo_bench, [
                {host, "54.229.54.60"},
                {port, 8000},
                {seconds, 20},
                {clients, 100},
%                {servers, []},
                {supervisord, {"54.229.54.60", 9001}},
                {db_root, "data/aws-1c"}
               ]}
].

