% -*- erlang -*-
[
{sasl, [
        {sasl_error_logger, {file, "/var/log/aws-10k.log"}}
]},
{wsdemo_bench, [
                {host, "54.229.54.60"},
                {port, 8000},
                {seconds, 180},
                {clients, 10000},
%                {servers, []},
                {supervisord, {"54.229.54.60", 9001}},
                {db_root, "data/aws-10k"}
               ]}
].

